[submodule "src/lib/tusb_xinput"]
	path = src/lib/tusb_xinput
	url = https://github.com/RobertDaleSmith/tusb_xinput.git
[submodule "src/lib/joybus-pio"]
	path = src/lib/joybus-pio
	url = https://github.com/RobertDaleSmith/joybus-pio.git
	branch = c
