[submodule "src/lib/tusb_xinput"]
	path = src/lib/tusb_xinput
	url = https://github.com/RobertDaleSmith/tusb_xinput.git
[submodule "src/lib/joybus-pio"]
	path = src/lib/joybus-pio
	url = https://github.com/RobertDaleSmith/joybus-pio.git
	branch = c
[submodule "src/lib/pico-sdk"]
	path = src/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "src/lib/tinyusb"]
	path = src/lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "src/lib/SNESpad"]
	path = src/lib/SNESpad
	url = https://github.com/RobertDaleSmith/SNESpad.git
