name: Build USBRetro

on:
  push:
    branches:
      - main
      - build-matrix

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        board: [rpi_pico, ada_qtpy, ada_kb2040]

    steps:
      - name: Checkout code with submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build Docker image and compile for all consoles
        run: docker build -t usbretro .

      - name: Compile for target board ${{ matrix.board }}
        run: docker run --rm -v ${{ github.workspace }}/src/build:/root/workspace/USBRetro/src/build usbretro /bin/bash -c "sh build_${{ matrix.board }}.sh && cd build && cmake .. && make"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: all_console_firmwares_${{ matrix.board }}
          path: ${{ github.workspace }}/src/build/*.uf2
